html {
    background-color: rgb(52, 160, 164);
    background-image: linear-gradient(-180deg, rgb(52, 160, 164) 5%, rgb(14, 55, 87) 55%, rgb(10, 40, 63), rgb(52, 160, 164));
}

.full-wrapper {
    background-color: rgb(10, 40, 63);
    background-image: linear-gradient(1deg, rgb(52, 160, 164) 1%, rgb(14, 55, 87) 55%, rgb(10, 40, 63));
    color: rgb(153, 217, 140);
    height: 100%;
    overflow: auto;
}

.full-wrapper button {
    border-radius: 4px;
    background-color: rgb(153, 217, 140);
    color: rgb(24, 78, 119);
    padding: .25em;
    border-color: rgb(52, 160, 164);
    border-style: solid;
    border-width: 1px;
    font-size: medium;
}

.full-wrapper button:hover {
    background-color: rgb(22, 138, 173);
    color: white;
}


.banner-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1em;
    margin-left: 15%;
}

.banner-container button {
    margin-left: 6em;
}


.form-group {
    margin: 1em;;
}


.form-group label {
    margin-right: 1em;

}

.my-form {
    display: flex;
    justify-content: center;
}

.my-form button {
    margin-bottom: 1em;
    border-width: 0px;
    margin-left: 1em;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 30%;
    margin-right: 17%;
}

.search-bar-container input {
    margin-right: 1em;
}

.table-container {
    display: flex;
    justify-content: center;
}

.play-button {
    display: flex;
    height: 50%;
}

.play-button button {
    background-color: transparent;
    padding: 0em;
    margin: 0em;
    border-width: 0px;
}

.play-button button:hover {
    background-color: transparent;
}

.play-button img {
    height: 70%;
    padding: 0em;
    margin: 0em;
}

.my-table {
    width: 70%;
    margin-top: 1em;
    border-collapse: collapse;
    
}

.table-body tr {
    border-color: rgb(22, 138, 173);
    border-style: solid;
    border-width: 1px;
}

.table-body td {
    padding: .15em;  
}

.reload-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.iframe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;

}

.footer-container img {
    opacity: 10%;
}



